/* Image style */

#scrollUp {
    background-image: url("../imgs/top.png");
    bottom: -210px;
    right: -210px;
    width: 512px;
    /* Width of image */
    height: 512px;
    /* Height of image */
    scale: 0.08;
}

#scrollUp:after {
    content: "";
}
